{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>ورود</title>
{% endblock %}
{% block styles %}
    <style>
        @font-face {
            font-family: 'b yekan';
            src: url({% static 'fonts/BYekan.eot' %}) format('eot'), /* IE6–8 */ url({% static 'fonts/BYekan.woff' %}) format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url({% static 'fonts/BYekan.ttf' %}) format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
        }

        body {
            background-color: transparent;
            direction: rtl;
            text-align: right;
            font-family: 'b yekan';
        }

        #log-in-form {
            margin: 230px auto 0;
            padding: 10px;
            color: white;
            height: auto;
            max-width: 800px;
            background-image: url("{% static 'img/background.jpg' %}");
            border-radius: 10px;
            background-size: cover;
        }

        #log-in-form .heading {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 70px;
        }

        #log-in-form .form-group {
            float: right;
            width: 28%;
            margin-right: 40px;
        }

        #log-in-form .form-control {
            padding: 15px 25px;
            height: auto;
        }

        #log-in-form .form-group-btn {
            width: 15%;
            margin-left: 70px;
        }

        #log-in-form .btn {
            padding: 13px 32px;
        }

        #log-in-form .checkbox {
            float: right;
            margin: 15px 40px 50px 0;
        }

        .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
            position: absolute;
            margin-top: 4px \9;
            margin-right: -20px;
        }

        .checkbox label, .radio label {
            min-height: 20px;
            padding-right: 20px;
            margin-bottom: 0;
            font-weight: 400;
            cursor: pointer;
        }

        @media screen and (max-width: 800px) {
            #log-in-form {
                margin: 20px;
            }

            #log-in-form .form-group {
                width: 60%;
                float: none;
                margin: 10px auto;
            }

            #log-in-form .form-group-btn {
                margin-top: 30px;
            }

            #log-in-form .btn {
                width: 100%;
            }

            #log-in-form .checkbox {
                width: 60%;
                float: none;
                margin: 15px auto 50px auto;
            }
        }

        @media screen and (max-width: 600px) {
            #log-in-form .form-group, #log-in-form .checkbox {
                width: 90%;
            }
        }

    </style>
{% endblock %}
{% block body %}
    <div class="container mx-auto" id="log-in-form">
        <div class="heading">
            <h1>ورود کاربران</h1>
        </div>
        <form action="login" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" id="username" placeholder="نام کاربری">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="pwd" placeholder="رمز عبور">
            </div>
            <div class="form-group form-group-btn">
                <button type="submit" class="btn btn-success btn-lg">ورود</button>
            </div>
            <div class="form-group form-group-btn ">
                <a href="register" class="btn btn-info btn-lg my-2">ثبت نام</a>
                <a href="/" class="btn btn-primary btn-lg my-2">صفحه اصلی</a>

            </div>

            <div class="clearfix" style="margin-bottom: 20px"></div>

        </form>
    </div>
{% endblock %}