{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>ثبت نام</title>
{% endblock %}
{% block styles %}
    <style>
        @font-face {
            font-family: 'b yekan';
            src: url({% static 'fonts/BYekan.eot' %}) format('eot'), /* IE6–8 */ url({% static 'fonts/BYekan.woff' %}) format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url({% static 'fonts/BYekan.ttf' %}) format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
        }

        html {
            background-size: cover;
            min-height: 100%;
        }

        body {
            background-color: transparent;
            direction: rtl;
            text-align: right;
            font-family: 'b yekan';
        }

        #registration-form {
            max-width: 800px;
            margin: 120px auto;
        }

        #registration-form .image {
            float: right;
            background-image: url("{% static 'img/background.jpg' %}");
            height: 550px;
            width: 50%;
            background-size: cover;
            background-position: 25%;
        }

        #registration-form .frm {
            margin-bottom: 20px;
            float: left;
            height: 550px;
            width: 50%;
            min-width: 250px;
            padding: 0 35px;
            background-size: 100% 100%;
            background-color: white;
        }

        #registration-form h1 {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        #registration-form .form-control {
            width: 90%;
            padding: 12px 20px;
            height: auto;
        }

        @media screen and (max-width: 700px) {
            #registration-form .image {
                width: 30%;
                background-position: 60%;
            }

            #registration-form .frm {
                width: 70%;
            }

            #registration-form .form-control {
                width: 100%;
            }
        }

        @media screen and (max-width: 500px) {
            #registration-form .image {
                display: none;
            }

            #registration-form .frm {
                width: 100%;
            }

            #registration-form h1 {
                text-align: center;
            }

            #registration-form .btn {
                width: 100%;
                margin-top: 20px;
            }
        }

    </style>
{% endblock %}
{% block body %}
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <h1>ثبت نام</h1>
            <form action="register" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">نام کاربری:</label>
                    <input type="text" class="form-control" name="username" id="username"
                           placeholder="وارد کردن نام کاربری">
                </div>
                <div class="form-group">
                    <label for="email">ایمیل:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="وارد کردن ایمیل">
                </div>
                <div class="form-group">
                    <label for="pwd">رمز عبور:</label>
                    <input type="password" class="form-control" name="password" id="pwd"
                           placeholder="وارد کردن رمز عبور">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">ارسال</button>
                    <a href="login" class="btn btn-info btn-lg">ورود</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}